extends layout

block content
  .single
    .single__hero
      h2.title.title__single
        p=agency.agencyName
        p=agency.agencyAddress
        p=agency.agencyCity + ", " + agency.agencyState + " " + agency.agencyZipcode
        p=agency.agencyPhoneNumber
        p=agency.agencyNotes