extends layout

block content
  .inner
    h2 Agencies
    table.table
      thead
        th Agency Name
        th Phone Number
        th Address
        th CSZ
        th Jobs
      each agency, i in agencies
        tr 
          td= agency.agencyName
          td= h.formatPhoneNumber(agency.agencyPhoneNumber)
          td= agency.agencyAddress
          if agency.agencyCity
            td #{agency.agencyCity}, #{agency.agencyState} #{agency.agencyZipcode}
          else
            td
          td link to jobs with agency in search 

