extends layout

block content
  .inner.py-2
    div(class='flex flex-row justify-end py-2')
      a(href=`/clients/${client._id}/edit`) 
        button(class="bg-orange-500 hover:bg-orange-700 text-white font-bold p-2 rounded") Edit Client
    div(class="flex flex-col w-full bg-white rounded shadow-lg m-6")
      div(class="flex flex-col w-full md:flex-row")
        div(class="flex flex-row justify-around p-4 font-bold leading-none text-white uppercase bg-blue-400 rounded md:flex-col md:items-center md:justify-center md:w-1/4")
          div(class="md:text-5xl text-center") #{client.clientName}
          
        div(class="p-4 font-normal text-gray-800 w-full")
          p(class="leading-normal font-bold") #{agency.agencyName}
          p(class="leading-normal") MID - #{client.clientMID}
          p(class="leading-normal") CRID - #{client.clientCRID}
          p(class="leading-normal") Non Profit # - #{client.clientNonProfitNumber}
          p(class="leading-normal") #{client.clientAddress}
          p(class="leading-normal") #{client.clientCity + ", " + client.clientState + " " + client.clientZipcode}
          div(class="flex flex-row items-center mt-4 text-black")
            div(class="w-1/2 ") 
            div(class="w-1/2 flex justify-end") 
    div(class="flex flex-col w-full bg-white rounded shadow-lg m-6 md:flex-row")            
      h2.m-6.text-4xl Notes 📝 
      textarea.m-6.border-4.border-green-700.rounded-lg.shadow-lg(name="Notes", cols="20", rows="3" disabled) #{client.clientNotes}

    div(class="mx-auto")
      div(class="bg-white shadow-xl w-full rounded m-6")
        table(class="text-left w-full border-collapse")
          thead
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mail Date
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Client
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Name
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Quantity
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Package Sizes
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Rep
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Method
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Actions
          each job in clientJobs
            tr(class="hover:bg-blue-200") 
              td(class="py-4 px-6 border-b border-grey-light text-center")= h.moment(job.jobMailDate).add(1,"days").format("MM-DD-YY")
              if job.jobClient
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/client/${job.jobClient.clientSlug}`) #{job.jobClient.clientName}
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center") 
                a(href=`/job/${job.jobSlug}`) #{job.jobName}
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobQuantity.toLocaleString()
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobSize
              if job.jobRep
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/rep/${job.jobRep.repSlug}`) #{job.jobRep.repName} 
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobMailingMethod
              td(class="py-4 px-6 border-b border-grey-light text-center")
                a(href=`/jobs/${job._id}/edit`) 
                  button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") Edit
                a(href=`/job/${job.jobSlug}/`)
                  button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") View 
    