extends layout

block content
  .inner
    h2 Clients
    table.table
      thead
        th Client Name
        th CRID
        th MID
        th Permit #
        th Non Profit #
        th Address
        th CSZ
        th Jobs
      each client, i in clients
        tr 
          td
            a(href=`/client/${client.clientSlug}`) #{client.clientName}
          td= client.clientCRID
          td= client.clientMID
          td= client.clientPermitNumber
          td= client.clientNonProfitNumber
          td= client.clientAddress
          if client.clientCity
            td #{client.clientCity} #{client.clientState}, #{client.clientZipcode}
          else
            td
          td 
            a(href=`/jobList/${client.clientSlug}`) #{client.clientAbrv} Jobs

