extends layout

block content
  .single
    .single__hero
      h2.title.title__single
        p=client.clientName
        p=client.clientAgency.agencyName
        p=client.clientMID
        p=client.clientCRID
        p=client.clientNonProfitNumber
        p=client.clientAddress
        p=client.clientCity + ", " + client.clientState + " " + client.clientZipcode
        p=client.clientNotes