extends layout

block content
    div(class="flex justify-center flex-wrap")
        h4(class="text-5xl") Total Weight 
            span(id="totalWeight") 
            span  lbs
    div(id='truck__boxes' class="truck__boxes flex flex-row flex-wrap justify-center")
        form(action=`/truck/createTruck` method="POST" class="w-1/4")
            label(for="truckType") Truck Type
            select(class="block appearance-none w-full bg-gray-200 border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" name="truckType" placeholder="Truck Type" id="truckType")
                <option value="" selected>Select a Tuck Type</option>
                <option value="Mid-West"> Mid-West</option>
                <option value="NPL"> NPL</option>
                <option value="PSI"> PSI</option>
            .py-8
                for key in Object.keys(jobSkids)
                    div(class="card w-full m-5 p-4")
                        -const j = jobs.filter(job => job._id.equals(key))
                        h2(class="text-3xl text-center")=j[0].jobName
                        - const skids = jobSkids[key]
                        for s in skids
                            div(class="flex flex-row")
                                label(class="")
                                    input(type="checkbox" class="truck__check center-items align-middle justify-around tag w-1/8" name="truckSkids" value=s._id data-Weight=s.skidWeight)
                                    <span class="checkmark"></span>
                                div(class="p-3") ##{s.skidNumber}
                                div(class="p-3") #{s.skidTrays} Trays
                                div(class="p-3") #{s.skidWeight} Lbs. 
                                div(class="p-3") #{s.skidCount} Pieces
                div.flex.flex-row.w-full
                div.flex.flex-row.justify-center
                    input(type="submit" class="flex justify-center button w-1/3" value="Load Truck")
