extends layout

block content
  .inner
    h1.text-6xl.py-4 📩 This Week - #{thisWeekTotal.toLocaleString()} pieces
    div(class="mx-auto ")
      div(class="bg-white shadow-xl rounded my-6")
        table(class="text-left w-full border-collapse")
          thead
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mail Date
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Client
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Name
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Quantity
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Package Sizes
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Rep
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Method
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Actions
          each job in thisWeeksJobs
            tr(class="hover:bg-blue-200") 
              td(class="py-4 px-6 border-b border-grey-light text-center")= h.moment(job.jobMailDate).add(9,"hours").format("MM-DD-YY")
              if job.jobClient
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/client/${job.jobClient.clientSlug}`) #{job.jobClient.clientName}
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center")
                a(href=`/job/${job.jobSlug}`) 
                  strong #{job.jobName}
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobQuantity.toLocaleString()
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobSize
              if job.jobRep
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/rep/${job.jobRep.repSlug}`) #{job.jobRep.repName} 
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobMailingMethod
              td(class="py-4 px-8 border-b border-grey-light text-center")
                a(href=`/shipping/${job.jobSlug}`) 
                  button(class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") Shipping
                a(href=`/job/${job.jobSlug}/`)
                  button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") View 
                a(href=`/jobs/${job._id}/edit`) 
                  button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") Edit
                    
    h1.text-6xl.py-4 🔥 Next Week - #{nextWeekTotal.toLocaleString()} pieces
    div(class="mx-auto")
      div(class="bg-white shadow-xl rounded my-6")
        table(class="text-left w-full border-collapse")
          thead
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mail Date
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Client
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Name
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Quantity
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Package Sizes
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Rep
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Method
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Actions
          each job in nextWeeksJobs
            tr(class="hover:bg-blue-200") 
              td(class="py-4 px-6 border-b border-grey-light text-center")= h.moment(job.jobMailDate).add(9,"hours").format("MM-DD-YY")
              if job.jobClient
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/client/${job.jobClient.clientSlug}`) #{job.jobClient.clientName}
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center") 
                a(href=`/job/${job.jobSlug}`) 
                  strong #{job.jobName}
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobQuantity.toLocaleString()
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobSize
              if job.jobRep
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/rep/${job.jobRep.repSlug}`) #{job.jobRep.repName} 
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobMailingMethod
              td(class="py-4 px-6 border-b border-grey-light text-center")
                a(href=`/shipping/${job.jobSlug}`) 
                  button(class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded m-1") Shipping
                a(href=`/job/${job.jobSlug}/`)
                  button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") View 
                a(href=`/jobs/${job._id}/edit`) 
                  button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") Edit
    h1.text-6xl.py-4 📬 Last 2 Weeks - #{lastTwoWeeksTotal.toLocaleString()} pieces
    div(class="mx-auto")
      div(class="bg-white shadow-xl rounded my-6")
        table(class="text-left w-full border-collapse")
          thead
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mail Date
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Client
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Name
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Quantity
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Package Sizes
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Rep
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Method
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Actions
          each job in lastTwoWeeksJobs
            tr(class="hover:bg-blue-200") 
              td(class="py-4 px-6 border-b border-grey-light text-center")= h.moment(job.jobMailDate).add(9,"hours").format("MM-DD-YY")
              if job.jobClient
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/client/${job.jobClient.clientSlug}`) #{job.jobClient.clientName}
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center") 
                a(href=`/job/${job.jobSlug}`) 
                  strong #{job.jobName}
              - let quantity = job.jobQuantity;
              - (job.packages[0]) ? quantity = job.packages.reduce((t, { packageQuantity }) => t + packageQuantity, 0) :  quantity;
              td(class="py-4 px-6 border-b border-grey-light text-center")= quantity.toLocaleString()
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobSize
              if job.jobRep
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/rep/${job.jobRep.repSlug}`) #{job.jobRep.repName} 
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobMailingMethod
              td(class="py-4 px-6 border-b border-grey-light text-center")
                a(href=`/shipping/${job.jobSlug}`) 
                  button(class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") Shipping
                a(href=`/job/${job.jobSlug}/`)
                  button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") View 
                a(href=`/jobs/${job._id}/edit`) 
                  button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded m-1 w-3/4") Edit
