extends layout

block content
  .single
    .single__hero
      h2.title.title__single
        p Job Name #{job.jobName}
        p Mail Date #{h.moment(job.jobMailDate).format("MM-DD-YYYY")}
        p Mailing Method #{job.jobMailingMethod}
        p Quantity #{job.jobQuantity}
        p Package Size #{job.jobSize}
        p Notes #{job.jobNotes}