extends layout

block content
  h4 #{job.jobName}
    h2.title
      table.table
        thead
          th Mail Date
          th Quantity 
          th Package Sizes
          th Mailing Methods
          th Mailing Options
        tr
          td #{h.moment(job.jobMailDate).format("MM-DD-YYYY")}
          td #{job.jobQuantity}
          td #{job.jobSize}
          td #{job.jobMailingMethod}
          td #{job.jobTags}
      textarea(name="Notes", cols="30", rows="10") #{job.jobNotes}