extends layout

block content
  .inner
    h1.text-6xl.py-2 Mailings 
    div(class="mx-auto ")
      div(class="bg-white shadow-xl rounded my-2")
        table(class="text-left w-full border-collapse")
          thead
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mail Date
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Client
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Name
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Quantity
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Package Sizes
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Rep
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Mailing Method
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black text-center") Actions
          each job, i in jobs
            tr(class="hover:bg-blue-200") 
              td(class="py-4 px-3 border-b border-grey-light")= h.moment(job.jobMailDate).add(1,"days").format("MM-DD-YY")
              if job.jobClient
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/client/${job.jobClient.clientSlug}`) #{job.jobClient.clientName}
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center") 
                a(href=`/job/${job.jobSlug}`) #{job.jobName}
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobQuantity ? job.jobQuantity.toLocaleString() : ''
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobSize
              if job.jobRep
                td(class="py-4 px-6 border-b border-grey-light text-center")
                  a(href=`/rep/${job.jobRep.repSlug}`) #{job.jobRep.repName} 
              else
                td(class="py-4 px-6 border-b border-grey-light text-center")
              td(class="py-4 px-6 border-b border-grey-light text-center")= job.jobMailingMethod
              td(class="py-2 px-2 border-b border-grey-light" style='width: 4em')
                a(href=`/jobs/${job._id}/edit`) 
                  button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded m-1 w-4/5") Edit
                a(href=`/job/${job.jobSlug}/`)
                  button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded m-1 w-4/5") View

