extends layout

block content
  .inner
    h2 Mailings
    table.table
      thead
        th Mail Date
        th Client
        th Mailing Name
        th Quantity
        th Package Sizes
        th Rep
        th Mailing Method
      each job, i in jobs
        tr 
          td= h.moment(job.jobMailDate).format("MM-DD-YYYY")
          if job.jobClient
            td= job.jobClient.clientName
          else
            td
          td 
            a(href=`/job/${job.slug}`) #{job.jobName}
          td= job.jobQuantity.toLocaleString()
          td= job.jobSize
          if job.jobRep
            td= job.jobRep.repName
          else
            td
          td= job.jobMailingMethod

