extends layout

block content
  .single
    .single__hero
      h2.title.title__single
        p=rep.repName
        p=rep.repAddress
        p=rep.repCity + ", " + rep.repState + " " + rep.repZipcode
        p=rep.repPhoneNumber
        p=rep.repNotes