extends layout

block content
  .inner
    h1.text-6xl.py-4 Reps
    div(class="mx-auto ")
      div(class="bg-white shadow-xl rounded my-6")
        table(class="text-left w-full border-collapse")
          thead
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") Rep Name
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") Agency
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") Email
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") Phone Number
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") Address
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") City, ST Zip
            th(class="py-4 px-6 bg-green-500 font-bold uppercase text-xl text-grey-dark border-b border-black") Jobs
          each rep, i in reps
            tr(class="hover:bg-blue-200")  
              td(class="py-4 px-6 border-b border-grey-light")
                a(href=`/rep/${rep.repSlug}`) #{rep.repName} 
              if rep.repAgency
                td(class="py-4 px-6 border-b border-grey-light")= rep.repAgency.agencyName
              else
                td(class="py-4 px-6 border-b border-grey-light")
              td(class="py-4 px-6 border-b border-grey-light")
                a(a href=`mailto:${rep.repEmail}`) #{rep.repEmail}
              td(class="py-4 px-6 border-b border-grey-light")= h.formatPhoneNumber(rep.repPhoneNumber)
              td(class="py-4 px-6 border-b border-grey-light")= rep.repAddress
              if rep.repCity
                td(class="py-4 px-6 border-b border-grey-light") #{rep.repCity}, #{rep.repState} #{rep.repZipcode}
              else
                td(class="py-4 px-6 border-b border-grey-light")
              td(class="py-4 px-6 border-b border-grey-light") 
                a(href=`/repJobList/${rep.repSlug}`) 
                  button(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded m-1 w-full") #{rep.repName}'s Jobs

