extends layout

block content
  .inner
    h2 Reps
    table.table
      thead
        th Rep Name
        th Agency
        th Email
        th Phone Number
        th Address
        th CSZ
        th Jobs
      each rep, i in reps
        tr 
          td
            a(href=`/rep/${rep.repSlug}`) #{rep.repName} 
          if rep.repAgency
            td= rep.repAgency.agencyName
          else
            td
          td= rep.repEmail
          td= h.formatPhoneNumber(rep.repPhoneNumber)
          td= rep.repAddress
          if rep.repCity
            td #{rep.repCity}, #{rep.repState} #{rep.repZipcode}
          else
            td
          td 
            a(href=`/repJobList/${rep.repSlug}`) #{rep.repName}'s Jobs

