extends layout

block content
  .inner.py-8
    div(class='flex flex-row justify-end py-2')
      a(href=`/truck/deleteTruck/${truck._id}`) 
        button(class="bg-orange-500 hover:bg-orange-700 text-white font-bold p-2 rounded") Delete Truck
    div(class="flex flex-col w-full bg-white rounded shadow-lg m-6")
      div(class="flex flex-col w-full md:flex-row")
        div(class="flex flex-row justify-around p-4 font-bold leading-none text-white uppercase bg-blue-400 rounded md:flex-col md:items-center md:justify-center md:w-1/4")
          div(class="md:text-5xl") Truck
          div(class="md:text-6xl") ##{truck.id}
          div(class="md:text-4xl py-2") #{truck.truckType}
          
        div(class="p-4 font-normal text-gray-800 md:w-3/4")
          div(class="flex flex-row items-center mt-4 text-black justify-between")
            p(class="leading-normal font-bold text-3xl justify-start") Loaded #{h.moment(truck.truckCreatedDate).format("MMM D YYYY [at] h:mm a")} 
          p(class="leading-normal") #{skids.length > 1 ? skids.length + ' Skids' : '1 Skid'}
          p(class="leading-normal") #{skids.map(s => s.skidTrays).reduce((total, count) => total + count, 0).toLocaleString()} Trays 
          p(class="leading-normal") #{skids.map(s => s.skidCount).reduce((total, count) => total + count, 0).toLocaleString()} Pieces 
          p(class="leading-normal") #{skids.map(s => s.skidWeight).reduce((total, count) => total + count, 0).toLocaleString()} Lbs 
          

  div(class="flex flex-row justify-center")
    each group in skidsByGroup 
      div(class="rounded bg-white shadow-md p-6 flex flex-col justify-around m-4")
        each j in jobs
          if j._id.equals(group[0].skidJob)
            h3(class="text-4xl") #{j.jobName}
            -const jobTrays = group.map(g => g.skidTrays).reduce((trays, total) => trays + total, 0)
            -const jobPieces = group.map(g => g.skidCount).reduce((pieces, total) => pieces + total, 0)
            -const jobWeight = group.map(g => g.skidWeight).reduce((lbs, total) => lbs + total, 0)
            p Total Trays: #{jobTrays.toLocaleString()}
            p Total Pieces: #{jobPieces.toLocaleString()}
            p Total Lbs: #{jobWeight.toLocaleString()}
            each s, index in group
              each p in j.packages 
                if p._id.equals(group[0].skidPackage)
                  h5 skid ##{index + 1}
                  p Package: #{p.packageName}
                  p #{s.skidCount.toLocaleString()} pieces
                  p #{s.skidTrays.toLocaleString()} trays
                  p #{s.destination}