mixin jobForm(job = {})
  form(action=`/addJob/${job._id || ''}` method="POST" class="card")
    label(for="jobName") Name
    input(type="text" name="jobName" value=job.jobName)
    label(for="jobClient") Client
    select(name="jobClient" placeholder="Client" id="jobClient")
      for client in clients
        if job.client === client._id
          option(value=client._id selected="selected") #{client.clientName}
        else
          option(value=client._id) #{client.clientName}
    label(for="jobRep") Rep
    select(name="jobRep" placeholder="Rep" id="jobRep")
      for rep in reps
        option(value=rep._id) #{rep.repName}
    label(for="jobMailDate") Mail Date
    input(type="date" name="jobMailDate" value=h.moment(job.jobMailDate).format("YYYY-MM-DD"))
    label(for="jobMailingMethod") Mailing Method
    input(type="text" name="jobMailingMethod" value=job.jobMailingMethod)
    label(for="jobQuantity") Mailing Quantity
    input(type="number" name="jobQuantity" value=job.jobQuantity)
    label(for="jobSize") Mailing Package Size
    input(type="text" name="jobSize" value=job.jobSize)
    label(for="scitex") Scitex?   
    label(for="true") Yes   
    input(type="radio" name="jobScitex" id="true" value='true' )
    label(for="false") No   
    input(type="radio" name="jobScitex" id="false" value='false' checked)
    label(for="jobNotes") Mailing Notes
    textarea(name="jobNotes")=job.jobNotes
    p
    input(type="submit" value="Create Job -<", class="button")  