mixin jobForm(job = {})
  form(action=`/addJob/${job._id || ''}` method="POST" class="card")
    label(for="jobName") Name
    input(type="text" name="jobName" value=job.jobName)
    label(for="jobClient") Client
    select(name="jobClient" placeholder="Client" id="jobClient")
      for client in clients
        if job.client === client._id
          option(value=client._id selected="selected") #{client.clientName}
        else
          option(value=client._id) #{client.clientName}
    label(for="jobRep") Rep
    select(name="jobRep" placeholder="Rep" id="jobRep")
      for rep in reps
        option(value=rep._id) #{rep.repName}
    label(for="jobMailDate") Mail Date
    input(type="date" name="jobMailDate" value=h.moment(job.jobMailDate).format("YYYY-MM-DD"))
    label(for="jobMailingMethod") Mailing Method
    - const mailingOptions = ['Straight 1st', '1st Presort', 'Standard Rate', 'SCF', 'Non Profit', 'Midwest Commingle', 'PSI Commingle']
    - const methods = job.jobMailingMethod || []
    ul.tags
      each option in mailingOptions
        .tag.tag__choice
          input(type="checkbox" id=option value=option name="jobMailingMethod" checked=(methods.includes(option)))
          label(for=option) #{option}
    label(for="jobMatch") Match
    input(type="number" name="jobMatch" value=job.jobMatch)
    label(for="jobQuantity") Mailing Quantity
    input(type="number" name="jobQuantity" value=job.jobQuantity)
    label(for="jobSize") Mailing Package Size
    input(type="text" name="jobSize" value=job.jobSize)
    label(for="jobTags") Mailing Options
    - const choices = ['Scitex', 'Meter', 'Labels', 'Self Mailer', 'Stamp', 'Indicia', 'Postcard', 'Cancelation']
    - const tags = job.jobTags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="jobTags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    label(for="jobNotes") Mailing Notes
    textarea(name="jobNotes")=job.jobNotes
    p
    input(type="submit" value="Create Job -<", class="button")  